<footer class="footer">
	<small>
		Mi Nombre | Aplicación del Curso de Software as a Service de la UANL
	</small>
	<nav>
		<ul>
			<li><%= link_to "Información", informacion_path %></li>
			<li><%= link_to "Contacto", contacto_path %></li>
		</ul>
	</nav>
</footer>

